@model IPG_Funcionarios.Models.Feria

@{
    ViewData["Title"] = "Criar Feria";
}
<div class="main-panel view-html" style="width:100%;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <a asp-action="Index"><i class="mdi mdi-keyboard-backspace"></i> Voltar </a>
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Views</li>
                    <li class="breadcrumb-item"><a asp-action="Index">Ferias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <p class="card-description">
                        Criar Feria:
                    </p>

                    <div class="row" role="Create">
                        <div class="col-12">
                            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6"><div id="order-listing_filter" class="dataTables_filter"></div></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="order-listing" class="table dataTable no-footer">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <tbody>
                                                <div class="even" role="no-form">
                                                    <div class="mb-2">

                                                        <input asp-for="TipoFeria" class="form-control" />
                                                        <span asp-validation-for="TipoFeria" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">

                                                        <input asp-for="DataInicio" class="form-control" />
                                                        <span asp-validation-for="DataInicio" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">

                                                        <input asp-for="DataFim" class="form-control" />
                                                        <span asp-validation-for="DataFim" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">

                                                        <input asp-for="FuncionarioForeignKey" class="form-control" />
                                                        <span asp-validation-for="FuncionarioForeignKey" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">

                                                        <input asp-for="ProfessorForeignKey" class="form-control" />
                                                        <span asp-validation-for="ProfessorForeignKey" class="text-danger"></span>
                                                    </div>
                                                    <div class="mb-2">
                                                        <div class="w-100 d-flex">
                                                            <form asp-action="Create"></form>
                                                            <input type="hidden" asp-for="FeriaID" />
                                                            <input class="c-btn c-btn-primary w-100 m-0 mt-2" type="submit" value="Criar" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
        </div>
    </div>
</div>
  


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
