@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item nav-logout d-none d-lg-block" title="Terminar sessão" id="power">
        <a class="nav-link" data-toggle="modal" data-target="#login-model-pop01">
            <i class="mdi mdi-power"></i>
        </a>
    </li>
}
else
{
    <li class="nav-item" title="Entrar">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
    </li>
    <li class="nav-item" title="Registar" >
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" >
            <i class="mdi mdi-account-plus"></i>
        </a>
    </li>
}
