@{
    ViewData["Title"] = "My Page";
}

<div id="right-sidebar" class="settings-panel">
    <i class="settings-close mdi mdi-close"></i>
    <ul class="nav nav-tabs bg-gradient-primary" id="setting-panel" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">Lista de Tarefas</a>
        </li>
    </ul>
    <div class="tab-content" id="setting-content">
        <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
                <form class="form w-100">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control todo-list-input" placeholder="Adicione tarefas aqui">
                        <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Adicionar</button>
                    </div>
                </form>
            </div>
            <div class="list-wrapper px-3">
                <ul class="d-flex flex-column-reverse todo-list">
                    <li>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="checkbox" type="checkbox"> Lembrar de marcar presença dos alunos
                            </label>
                        </div>
                        <i class="remove mdi mdi-close-circle-outline"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/assets/image/user-48.png" alt="profile">
                    <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">Nome Funcionário</span>
                    <span class="text-secondary text-small">Tipo Funcionário</span>
                </div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">
                <span class="menu-title">Página Inicial</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <!--
        <li class="nav-item" >
            <a class="nav-link" data-toggle="collapse" href="#pagegrup1"
               aria-expanded="false" aria-controls="pagegrup1">
                <span class="menu-title">Professor &nbsp;</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-cards-variant menu-icon"></i>
            </a>
            <div class="collapse" id="pagegrup1" style="">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="/Professores/">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Professores/Create.cshtml">Criar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Professores/Edit.cshtml">Editar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Professores/Details.cshtml">Detalhes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Professores/Delete.cshtml">Apagar</a>
                    </li>
                </ul>
            </div>
        </li>
        -->
    </ul>
</nav>
<div class="main-panel">
    <div class="content-wrapper">
        @* ALL PAGE CONTENT HERE *@

        @{
            int hour = DateTime.Now.Hour;
            string greeting;
            if (hour >= 7 && hour < 12) {
                greeting = "Bom dia";
            } else
            if (hour >= 12 && hour <20) {
                greeting = "Boa tarde";
            } else{
                greeting = "Boa noite";
            }
        }
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> @greeting, Seja bem vindo!
            </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Página Inicial &nbsp;<i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>

                <div class="row">
                    <div class="col grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><i class="mdi mdi-settings"></i>&nbsp;Módulos</h4>
                                <div class="table-responsive">
                                    <div class="text-center force-link">
                                        <a class="btn btn-outline-info" asp-controller="Professores" asp-action="">Professor</a>
                                        <a class="btn btn-outline-info" asp-controller="Funcionario" asp-action="Index">Funcionario</a>
                                        <a class="btn btn-outline-info" asp-controller="Departamento" asp-action="Index">Departamento</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* ALL PAGE CONTENT HERE *@
            </div>
</div>