@model IPG_Funcionarios.Models.UserAccount

@{
    ViewData["Title"] = "Login";
}

<div class="main-panel view-html" style="width:100%;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <a asp-action="Index"><i class="mdi mdi-keyboard-backspace"></i> Voltar </a>
            </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <!--HTML -->
                <!--HTML -->
            </div>
        </div>
    </div>
</div>