@model IPG_Funcionarios.Models.Professor

@{
    ViewData["Title"] = "Edit";
}

<div class="main-panel view-html" style="width:100%;">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Editar Professor </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Views</li>
                    <li class="breadcrumb-item"><a asp-action="Index">Professores</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6"><div id="order-listing_filter" class="dataTables_filter"></div></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="order-listing" class="table dataTable no-footer" role="grid" aria-describedby="order-listing_info">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <tbody>
                                                    <tr role="row" class="even">
                                                        <td>
                                                            <input asp-for="Nome" placeholder="Nome" class="form-control" />
                                                            <span asp-validation-for="Nome" class="text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <input asp-for="Contacto" placeholder="Contacto" class="form-control" />
                                                            <span asp-validation-for="Contacto" class="text-danger"></span>
                                                        </td>
                                                        <td>
                                                            <input asp-for="Email" placeholder="Email" class="form-control" />
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </td>
                                                        <td class="t-center">
                                                            <input asp-for="Gabinete" placeholder="Gabinete" class="form-control" />
                                                            <span asp-validation-for="Gabinete" class="text-danger"></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col w-100" style="display: flex;">
                                            <a class="c-btn c-btn-secundary w-100" asp-action="Index">Voltar a lista</a>
                                            <a class="c-btn c-btn-primary w-100" href="" id="">Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    form.d-flex.align-items-center.h-100,
    .navbar-menu-wrapper span {
        display: none;
        visibility: hidden;
    }
</style>