@model IPG_Funcionarios.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

    <div class="main-panel" style="width:100%;">
        <div class="content-wrapper" style="background-color:white;">
            <div class="page-header">
                <h3 class="page-title"> Are you sure you want to delete this? </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Departamento</li>
                        <li class="breadcrumb-item">Views</li>
                        <li class="breadcrumb-item active" aria-current="page">Delete</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col">
                    <!-- COLUNA 1 -->
                    <!-- TODO CONTEÚDO AQUI! -->
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                    </dl>
                    <div class="align-content-end">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="DepartamentoId" />
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                            <a asp-action="Index" class="btn btn-primary btn-back">Back to List</a>
                        </form>


                    </div>


            </div>
       </div>
    </div>
 </div>

<!--<div style="width:100%">
    <div class="card" style="text-align:center">
        <h4>Departamento</h4>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </dl>
        <div class="align-content-end">
            <form asp-action="Delete">
                <input type="hidden" asp-for="DepartamentoId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>
-->

