

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">@ViewBag.Title</h4>
        <p>@ViewBag.Message</p>
        <hr>
        <a asp-action="Index" class="btn btn-primary">Ver a Lista do Funcionario</a>
    </div>

